<div class="project" id="project-{{identifier}}">
	<a href="#projects/{{next}}" id="next" data-active='{{nextActive}}'>
		<div class="project-preview">{{next}}</div>
		<svg><path d="M10.129,22.186 16.316,15.999 10.129,9.812 13.665,6.276 23.389,15.999 13.665,25.725z"></path></svg>
	</a>
	<a href="#projects/{{previous}}" id="previous" data-active='{{previousActive}}'>
		<div class="project-preview">{{previous}}</div>
		<svg><path d="M21.871,9.814 15.684,16.001 21.871,22.188 18.335,25.725 8.612,16.001 18.335,6.276z"></path></svg>
	</a>
	<a href="#projects" class="back">back</a>
	<div class="header">
		<div class="title">{{{title}}}</div>
		<div class="blurb">{{blurb}}</div>
	</div>
	<div class="project-contents">
		{{{projectContents}}}
	</div>
	<div class="caption">{{{caption}}}</div>
	<div class="description">{{{description}}}</div>

</div>