<div class="project" id="project-{{identifier}}">
	
	<a href="#projects" class="back">back</a>
	<div class="header">
		<div class="title">{{title}}</div>
		<div class="blurb">{{blurb}}</div>
	</div>
	<div class="project-contents">
		{{{projectContents}}}
	</div>
	<div class="caption">{{{caption}}}</div>
	<div class="description">{{{description}}}</div>

</div>